<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lframework.xingyun.template.inner.mappers.system.SysUserPositionMapper">
    <sql id="SysUserPositionDto_sql">
        SELECT
            up.*
        FROM sys_user_position AS up
        INNER JOIN sys_position AS p ON p.id = up.position_id
    </sql>
    <select id="getByUserId"
      resultType="com.lframework.xingyun.template.inner.entity.SysUserPosition">
        <include refid="SysUserPositionDto_sql"/>
        WHERE up.user_id = #{userId}
        ORDER BY p.code
    </select>
</mapper>
