<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lframework.xingyun.template.core.mappers.GenerateCodeMapper">
  <select id="findById"
          resultType="com.lframework.xingyun.template.core.dto.GenerateCodeDto">
    SELECT id, config_str FROM sys_generate_code WHERE id = #{id}
  </select>
</mapper>
