<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lframework.xingyun.sc.mappers.ProductStockMapper">
    <resultMap id="ProductStockDto" type="com.lframework.xingyun.sc.dto.stock.ProductStockDto">
        <id column="id" property="id"/>
        <result column="product_id" property="productId"/>
        <result column="sc_id" property="scId"/>
        <result column="stock_num" property="stockNum"/>
        <result column="tax_price" property="taxPrice"/>
        <result column="tax_amount" property="taxAmount"/>
        <result column="un_tax_price" property="unTaxPrice"/>
        <result column="un_tax_amount" property="unTaxAmount"/>
    </resultMap>

    <sql id="ProductStockDto_sql">
        SELECT
            gs.id,
            gs.product_id,
            gs.sc_id,
            gs.stock_num,
            gs.tax_price,
            gs.tax_amount,
            gs.un_tax_price,
            gs.un_tax_amount
        FROM tbl_product_stock AS gs
    </sql>

    <update id="addStock">
        UPDATE tbl_product_stock
        SET stock_num = stock_num + #{stockNum}, tax_amount = tax_amount + #{taxAmount},
        <if test="reCalcCostPrice">tax_price = CASE WHEN stock_num = 0 THEN 0 ELSE tax_amount / stock_num END,</if>
        un_tax_amount = un_tax_amount + #{unTaxAmount}<if test="reCalcCostPrice">, un_tax_price = CASE WHEN stock_num = 0 THEN 0 ELSE un_tax_amount / stock_num END</if>
        WHERE product_id = #{productId}
        AND sc_id = #{scId}
        AND stock_num = #{oriStockNum}
        AND tax_amount = #{oriTaxAmount}
    </update>
    <update id="subStock">
        UPDATE tbl_product_stock
        SET stock_num = stock_num - #{stockNum}, tax_amount = tax_amount - #{taxAmount},
        <if test="reCalcCostPrice">tax_price = CASE WHEN stock_num = 0 THEN 0 ELSE tax_amount / stock_num END,</if>
        un_tax_amount = un_tax_amount - #{unTaxAmount}
        <if test="reCalcCostPrice">, un_tax_price = CASE WHEN stock_num = 0 THEN 0 ELSE un_tax_amount / stock_num END
        </if>
        WHERE product_id = #{productId}
        AND sc_id = #{scId}
        AND stock_num = #{oriStockNum}
        AND tax_amount = #{oriTaxAmount}
        AND stock_num >= #{stockNum}
    </update>
    <select id="getByProductIdAndScId" resultMap="ProductStockDto">
        <include refid="ProductStockDto_sql"/>
        WHERE product_id = #{productId}
        AND sc_id = #{scId}
    </select>
    <select id="query" resultMap="ProductStockDto">
        <include refid="ProductStockDto_sql"/>
        INNER JOIN base_data_store_center AS sc ON sc.id = gs.sc_id
        INNER JOIN base_data_product AS product ON product.id = gs.product_id
        INNER JOIN base_data_product_poly AS poly ON poly.id = product.poly_id
        LEFT JOIN recursion_mapping AS rm ON rm.node_id = poly.category_id and rm.node_type = 2
        <where>
            <if test="vo != null">
                <if test="vo.scId != null and vo.scId != ''">
                    AND gs.sc_id = #{vo.scId}
                </if>
                <if test="vo.productCode != null and vo.productCode != ''">
                    AND product.code = #{vo.productCode}
                </if>
                <if test="vo.productName != null and vo.productName != ''">
                    AND product.name LIKE CONCAT('%', #{vo.productName}, '%')
                </if>
                <if test="vo.brandId != null and vo.brandId != ''">
                    AND poly.brand_id = #{vo.brandId}
                </if>
                <if test="vo.categoryId != null and vo.categoryId != ''">
                    AND (poly.category_id = #{vo.categoryId} OR FIND_IN_SET(#{vo.categoryId}, rm.path))
                </if>
            </if>
        </where>
        ORDER BY sc.code, product.code
    </select>
</mapper>
