<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lframework.xingyun.sc.mappers.ProductLotMapper">
    <resultMap id="ProductLotDto" type="com.lframework.xingyun.sc.dto.stock.ProductLotDto">
        <id column="id" property="id"/>
        <result column="lot_code" property="lotCode"/>
        <result column="product_id" property="productId"/>
        <result column="supplier_id" property="supplierId"/>
        <result column="tax_rate" property="taxRate"/>
        <result column="create_time" property="createTime"/>
        <result column="biz_id" property="bizId"/>
        <result column="biz_detail_id" property="bizDetailId"/>
        <result column="biz_code" property="bizCode"/>
        <result column="biz_type" property="bizType"/>
    </resultMap>

    <resultMap id="ProductLotWithStockDto" type="com.lframework.xingyun.sc.dto.stock.ProductLotWithStockDto">
        <id column="id" property="id"/>
        <result column="lot_code" property="lotCode"/>
        <result column="product_id" property="productId"/>
        <result column="supplier_id" property="supplierId"/>
        <result column="sc_id" property="scId"/>
        <result column="stock_num" property="stockNum"/>
        <result column="tax_rate" property="taxRate"/>
        <result column="create_time" property="createTime"/>
        <result column="biz_id" property="bizId"/>
        <result column="biz_detail_id" property="bizDetailId"/>
        <result column="biz_code" property="bizCode"/>
        <result column="biz_type" property="bizType"/>
    </resultMap>

    <sql id="ProductLotDto_sql">
        SELECT
            l.id,
            l.lot_code,
            l.product_id,
            l.supplier_id,
            l.tax_rate,
            l.create_time,
            l.biz_id,
            l.biz_detail_id,
            l.biz_code,
            l.biz_type
        FROM tbl_product_lot AS l
    </sql>

    <sql id="ProductLotWithStockDto_sql">
        SELECT
            l.id,
            l.lot_code,
            l.product_id,
            l.supplier_id,
            l.tax_rate,
            l.create_time,
            l.biz_id,
            l.biz_detail_id,
            l.biz_code,
            l.biz_type,
            s.sc_Id,
            s.stock_num
        FROM tbl_product_lot AS l
        INNER JOIN tbl_product_lot_stock AS s ON s.lot_id = l.id
    </sql>
    <select id="query" resultMap="ProductLotWithStockDto">
        <include refid="ProductLotWithStockDto_sql"/>
        INNER JOIN base_data_store_center AS sc ON sc.id = s.sc_id
        INNER JOIN base_data_supplier AS supplier ON supplier.id = l.supplier_id
        INNER JOIN base_data_product AS product ON product.id = l.product_id
        INNER JOIN base_data_product_poly AS poly ON poly.id = product.poly_id
        LEFT JOIN recursion_mapping AS rm ON rm.node_id = poly.category_id and rm.node_type = 2
        <where>
            <if test="vo != null">
                <if test="vo.lotCode != null and vo.lotCode != ''">
                    AND l.lot_code = #{vo.lotCode}
                </if>
                <if test="vo.supplierId != null and vo.supplierId != ''">
                    AND l.supplier_id = #{vo.supplierId}
                </if>
                <if test="vo.scId != null and vo.scId != ''">
                    AND s.sc_id = #{vo.scId}
                </if>
                <if test="vo.productCode != null and vo.productCode != ''">
                    AND product.code = #{vo.productCode}
                </if>
                <if test="vo.productName != null and vo.productName != ''">
                    AND product.name LIKE CONCAT('%', #{vo.productName}, '%')
                </if>
                <if test="vo.brandId != null and vo.brandId != ''">
                    AND poly.brand_id = #{vo.brandId}
                </if>
                <if test="vo.categoryId != null and vo.categoryId != ''">
                    AND (poly.category_id = #{vo.categoryId} OR FIND_IN_SET(#{vo.categoryId}, rm.path))
                </if>
                <if test="vo.createStartTime != null">
                    AND l.create_time >= #{vo.createStartTime}
                </if>
                <if test="vo.createEndTime != null">
                    <![CDATA[
                    AND l.create_time <= #{vo.createEndTime}
                    ]]>
                </if>
            </if>
        </where>
        ORDER BY l.create_time DESC, sc.code, supplier.code, product.code
    </select>
    <select id="getById" resultMap="ProductLotDto">
        <include refid="ProductLotDto_sql"/>
        WHERE id = #{id}
    </select>
</mapper>
