<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lframework.xingyun.core.mappers.FileBoxMapper">

  <select id="query" resultType="com.lframework.xingyun.core.entity.FileBox">
    <include refid="FileBox_sql"/>
    <where>
      <if test="vo.name != null and vo.name != ''">
        AND tb.name LIKE CONCAT('%', #{vo.name}, '%')
      </if>
      <if test="vo.path != null and vo.path != ''">
        AND tb.file_path = #{vo.path}
      </if>
      AND tb.create_by_id = #{createById}
    </where>
    ORDER BY tb.name ASC
  </select>

  <sql id="FileBox_sql">
    SELECT tb.*
    FROM sw_file_box AS tb
  </sql>
</mapper>
