<!DOCTYPE html>
<html ng-app="app" ng-controller="indexCtrl" style="height: 100%">
<head>
  <title>星云ERP {{getEnviroment()}}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=8; IE=9; IE=EDGE;">

  <link href="./build/common/base.css" rel="stylesheet">
  <script src="./assets/js/jquery.min.js"></script>
  <script type="text/javascript" src="./assets/js/common/tools/util.js"></script>
  <script type="text/javascript" src="./build/common/base.js"></script>
  <script type="text/javascript" src="./build/common/ngEdit.js"></script>
  <script type="text/javascript" src="./build/home/index.js"></script>
  <script type="text/javascript" src="./assets/js/plugins/pace/pace.min.js"></script>
</head>
<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
<div id="wrapper">
  <!--左侧导航开始-->
  <nav class="navbar-default navbar-static-side" role="navigation">
    <div class="nav-close"><i class="fa fa-times-circle"></i>
    </div>
    <div class="sidebar-collapse">
      <ul class="nav" id="side-menu">
        <!-- 个人信息 -->
        <li class="nav-header">
          <div class="dropdown profile-element">
            <span><img alt="image" src="./assets/img/logo/4.png"
                       style="width: 166px; height: 57px;"/></span>
          </div>
          <div class="logo-element">AGILE-BPM
          </div>
        </li>
        <!--菜单 -->
        <li ng-repeat="item in memus" class="{{item.opened==1?'active':''}}" ng-if="item.enable">
          <a href="javascript:void(0);" ng-click="menuClick(item)">
            <i class="fa {{item.icon}}"></i>
            <span class="nav-label">{{item.name}}</span>
            <span class="fa arrow" ng-if="item.children.length"></span>
          </a>
          <ul class="nav nav-second-level" ng-if="item.children.length">
            <li ng-repeat="second in item.children" ng-if="second.enable">
              <a class="J_menuItem" ng-click="menuClick(second)">
                {{second.name}}<span ng-if="second.children" class="fa arrow"></span>
              </a>
              <ul class="nav nav-third-level" ng-if="second.children.length">
                <li ng-repeat="third in second.children" ng-if="third.enable">
                  <a class="J_menuItem" ng-click="menuClick(third)">
                    {{third.name}}
                    <span class="fa arrow" ng-if="third.children.length"></span>
                  </a>
                  <ul class="nav nav-four-level" ng-if="third.children.length">
                    <li ng-repeat="four in third.children" ng-if="third.enable">
                      <a class="J_menuItem" ng-click="menuClick(four)">{{four.name}}</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
  <!--左侧导航结束-->
  <!--右侧部分开始-->
  <div id="page-wrapper" class="gray-bg dashbard-1">
    <div class="row border-bottom">
      <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header" style="width:80%">
          <a ng-repeat="topMenu in userRes" ng-click="topClick(topMenu)" ab-tip
             title="{{topMenu.name}}" ng-if="topMenu.enable"
             class="navbar-minimalize minimalize-styl-2 btn btn-primary {{topMenu.active}}"
             href="javascript:void(0);">
            <i class="fa fa-{{topMenu.icon ||'server'}} fa-2x" style="display: block;"></i>
            {{topMenu.name}}
          </a>
        </div>
        <ul class="nav navbar-top-links navbar-right">
          <li>
            <a class="dropdown-toggle" href="javascript:void(0);">
                             <span class="clear">
                             <span
                                 class="text-muted text-xs block ">{{userMsg.user.fullname}}</span>
                             </span>
            </a>
          </li>
        </ul>
      </nav>
    </div>

    <!-- TAB列 -->
    <div class="row content-tabs">
      <button class="roll-nav roll-left J_tabLeft"><i class="fa fa-backward"></i>
      </button>
      <nav class="page-tabs J_menuTabs">
        <div class="page-tabs-content">
          <a ng-repeat="menu in openedMenu" id="{{menu.id}}" ng-click="menuClick(menu,true)"
             href="javascript:void(0);" class="{{menu.active}} J_menuTab">{{menu.name}}
            <i ng-if="!menu.noclose" class="fa fa-times-circle" ng-click="closeTab(menu)"></i>
          </a>
        </div>
      </nav>
      <button class="roll-nav roll-right J_tabRight"><i class="fa fa-forward"></i>
      </button>
      <div class="btn-group roll-nav roll-right" style="right: 0px;">
        <button class="dropdown J_tabClose" data-toggle="dropdown">关闭操作<span class="caret"></span>
        </button>
        <ul role="menu" class="dropdown-menu dropdown-menu-right">
          <li class="J_tabShowActive"><a>定位当前选项卡</a>
          </li>
          <li class="divider" ng-click="scrollCurrent()"></li>
          <li class="J_tabCloseAll" ng-click="closeAll()"><a>关闭全部选项卡</a>
          </li>
          <li class="J_tabCloseOther" ng-click="closeOthers()"><a>关闭其他选项卡</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- iframe 内容区 -->
    <div class="row J_mainContent" id="content-main">
      <iframe class="J_iframe {{menu.active=='active'?'iframe-block':'iframe-none'}}" width="100%"
              height="100%" frameborder="0" seamless ng-repeat="menu in openedMenu"
              ng-src="{{menu.url | trustedAsResourceUrl}}" id="{{menu.id}}iframe"></iframe>
    </div>

    <div class="footer">
      <div class="pull-right">&copy; AGILE-BPM ©2018 版权所有 禁止用于商业用途 违者必究</div>
    </div>
  </div>
  <!--右侧部分结束-->
</div>
</body>
</html>
<style>
  .iframe-block {
    display: block
  }

  .iframe-none {
    display: none;
  }

  * {
    -webkit-user-select: none;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #f5f5f5;
  }

  .nav-header {
    height: 63px;
    padding: 2px 12px;
    border-bottom: 1px solid #333;
  }

  .navbar-static-side {
    opacity: 0.85;
  }

  .nav-item {
    display: inline;
    line-height: 40px;
    font-size: 18px;
  }

  .btn-primary {
    margin: 10px 0 10px 10px;
    0 background-color: #609e94;
    border-color: transparent;
    0 color: #fff;
    background-color: transparent;
    color: #609e94;
  }

  .btn-primary.menuActive {
    background-color: #18a689;
    border-color: #18a689;
    color: #fff;
  }


  .nav > li.active {
    border-left: 4px solid #F0F0F0;
    background: transparent;
  }
</style>