<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>星云ERP</title>
    <link href="./build/common/base.css" rel="stylesheet">
    <link href="./assets/css/login.css" rel="stylesheet">

    <script type="text/javascript" src="./build/common/base.js"></script>
    <script type="text/javascript" src="./build/common/ngEdit.js"></script>
    <script>
        if (window.top !== window.self) {
            window.top.location = window.location;
        }

        var app = angular.module('app', ['baseDirective']);
        app.controller("ctrl", ['$scope', 'baseService', function ($scope, baseService) {

            $scope.user = {password: "admin", account: "admin"};
            $scope.login = function () {
                var post = baseService.postForm(__ctx + "/org/login/valid", $scope.user);
                $.getResultData(post, function () {
                    window.location = "index.html";
                })
            }

        }]);

    </script>
    <style type="text/css">
        .layui-layer-content {
            color: black;
        }
    </style>

</head>

<body class="signin" ng-controller="ctrl">
<div class="signinpanel">
    <div class="row">
        <div class="col-sm-7">
            <div class="signin-info">
                <div class="logopanel m-b">
                    <h1>星云ERP </h1>
                </div>
                <div class="m-b"></div>
                <h4>欢迎使用 <strong> 星云ERP-AgileBPM 流程管理平台</strong></h4>
                <ul class="m-b">
                    <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 星云ERP整合AgileBPM流程管理平台</li>
                    <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 【重要】AgileBPM开源协议<strong><a
                        href="http://www.agilebpm.cn/zh-cn/more/agilebpm_license.html"
                        target="blank">点此查看</a></strong></li>
                    <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 可以跨库构建任意数据结构的数据模型</li>
                    <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 轻松的生成数据模型的容器-表单，并进行一个业务流转
                    </li>
                    <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 高效的流程任务处理能力</li>
                    <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 稳健低耦合的流程引擎核心</li>
                    <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 强大丰富的表单组件支持，快速构建所需的业务应用
                    </li>
                    <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 多环境、多数据源真实复杂场景的支持</li>
                    <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 基于基础组件,未来更多应用的可贡献性、可共享性
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-5">
            <!--<form ng-submit="login()">
                <h4 class="no-margins">登录：</h4>
                <p class="m-t-md">星云ERP-AgileBPM 流程管理平台</p>
                <input type="text" class="form-control uname" ng-model="user.account"
                       placeholder="用户名"/>
                <input type="password" class="form-control pword m-b" ng-model="user.password"
                       placeholder="密码"/>
                <span class="btn btn-success btn-block" ng-click="login()">登录</span>
                <input type="submit" style="display: none;">
            </form>-->
        </div>
    </div>
    <div class="signup-footer">
        <div class="pull-left">
            &copy; 2018 All Rights Reserved. AGILE-BPM
        </div>
    </div>
</div>
</body>

</html>
