<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lframework.xingyun.basedata.mappers.ProductPolyMapper">

    <resultMap id="ProductPolyDto" type="com.lframework.xingyun.basedata.dto.product.poly.ProductPolyDto">
        <id column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="short_name" property="shortName"/>
        <result column="category_id" property="categoryId"/>
        <result column="category_name" property="categoryName"/>
        <result column="brand_id" property="brandId"/>
        <result column="brand_name" property="brandName"/>
        <result column="multi_saleprop" property="multiSaleProp"/>
        <result column="tax_rate" property="taxRate"/>
        <result column="sale_tax_rate" property="saleTaxRate"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="ProductPolyDto_sql">
        SELECT
            p.id,
            p.code,
            p.name,
            p.short_name,
            p.category_id AS category_id,
            p.brand_id AS brand_id,
            p.multi_saleprop,
            p.tax_rate,
            p.sale_tax_rate,
            p.create_by,
            p.create_time,
            p.update_by,
            p.update_time
        FROM base_data_product_poly AS p
    </sql>

    <select id="getById" resultMap="ProductPolyDto">
        <include refid="ProductPolyDto_sql"/>
        WHERE p.id = #{id}
    </select>
    <select id="getIdNotInPolyProperty" resultType="java.lang.String">
        SELECT id
        FROM base_data_product_poly AS p
        where p.id NOT IN (SELECT poly_id FROM base_data_product_poly_property WHERE property_id = #{propertyId})
    </select>
    <select id="getIdByCategoryId" resultType="java.lang.String">
        SELECT id
        FROM base_data_product_poly AS p
        WHERE p.category_id = #{categoryId}
    </select>
</mapper>
