<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lframework.xingyun.basedata.mappers.ProductCategoryPropertyMapper">

    <resultMap id="ProductCategoryPropertyDto" type="com.lframework.xingyun.basedata.entity.ProductCategoryProperty">
        <id column="id" property="id"/>
        <result column="property_id" property="propertyId"/>
        <result column="category_id" property="categoryId"/>
    </resultMap>

    <resultMap id="QueryProductCategoryPropertyDto" type="com.lframework.xingyun.basedata.dto.product.category.property.ProductCategoryPropertyDto">
        <id column="id" property="id"/>
        <result column="property_id" property="propertyId"/>
        <result column="category_id" property="categoryId"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="is_required" property="isRequired"/>
        <result column="column_type" property="columnType"/>
        <result column="column_data_type" property="columnDataType"/>
        <result column="property_type" property="propertyType"/>
        <result column="description" property="description"/>
    </resultMap>

    <sql id="ProductCategoryPropertyDto_sql">
        SELECT
            cp.id,
            cp.property_id,
            cp.category_id
        FROM base_data_product_category_property AS cp
        LEFT JOIN base_data_product_property AS p ON p.id = cp.property_id
        LEFT JOIN base_data_product_category AS c ON c.id = cp.category_id
    </sql>

    <select id="getByPropertyId" resultMap="ProductCategoryPropertyDto">
        <include refid="ProductCategoryPropertyDto_sql"/>
        WHERE cp.property_id = #{propertyId}
        ORDER BY c.code
    </select>
    <select id="getByCategoryId" resultMap="QueryProductCategoryPropertyDto">
        SELECT
            cp.id,
            cp.property_id,
            cp.category_id,
            p.code,
            p.name,
            p.is_required,
            p.column_type,
            p.column_data_type,
            p.property_type,
            p.description
        FROM base_data_product_category_property AS cp
        INNER JOIN base_data_product_property AS p ON p.id = cp.property_id AND p.available = TRUE
        WHERE cp.category_id = #{categoryId}
        ORDER BY p.code
    </select>

</mapper>
