<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lframework.xingyun.basedata.mappers.ProductSalePropItemMapper">

    <resultMap id="ProductSalePropItem"
               type="com.lframework.xingyun.basedata.entity.ProductSalePropItem">
        <id column="id" property="id"/>
        <result column="group_id" property="groupId"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="available" property="available"/>
        <result column="description" property="description"/>
    </resultMap>

    <sql id="ProductSalePropItemDto_sql">
        SELECT
            id,
            group_id,
            code,
            name,
            available,
            description
        FROM base_data_product_saleprop_item
    </sql>

    <select id="query" resultMap="ProductSalePropItem">
        <include refid="ProductSalePropItemDto_sql"/>
        <where>
            AND group_id = #{vo.groupId}
            <if test="vo != null">
                <if test="vo.code != null and vo.code != ''">
                    AND code = #{vo.code}
                </if>
                <if test="vo.name != null and vo.name != ''">
                    AND name LIKE CONCAT('%', #{vo.name}, '%')
                </if>
                <if test="vo.available != null">
                    AND available = #{vo.available}
                </if>
            </if>
        </where>
        ORDER BY code
    </select>

    <select id="getByGroupId" resultMap="ProductSalePropItem">
        <include refid="ProductSalePropItemDto_sql"/>
        WHERE group_id = #{groupId}
        ORDER BY code
    </select>
    <select id="getEnablesByGroupId" resultMap="ProductSalePropItem">
        <include refid="ProductSalePropItemDto_sql"/>
        WHERE group_id = #{groupId}
        AND available = TRUE
        ORDER BY code
    </select>
    <select id="selector" resultMap="ProductSalePropItem">
        <include refid="ProductSalePropItemDto_sql"/>
        <where>
            <if test="vo != null">
                <if test="vo.salePropGroupId != null and vo.salePropGroupId != ''">
                    AND group_id = #{vo.salePropGroupId}
                </if>
                <if test="vo.code != null and vo.code != ''">
                    AND code = #{vo.code}
                </if>
                <if test="vo.name != null and vo.name != ''">
                    AND name LIKE CONCAT('%', #{vo.name}, '%')
                </if>
                <if test="vo.available != null">
                    AND available = #{vo.available}
                </if>
            </if>
        </where>
        ORDER BY code
    </select>
</mapper>
