<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lframework.xingyun.basedata.mappers.ProductSaleMapper">

    <resultMap id="ProductSaleDto" type="com.lframework.xingyun.basedata.dto.product.sale.ProductSaleDto">
        <id column="id" property="id"/>
        <result column="price" property="price"/>
    </resultMap>

    <sql id="ProductSaleDto_sql">
        SELECT
            id,
            price
        FROM base_data_product_sale
    </sql>

    <select id="getById" resultMap="ProductSaleDto">
        <include refid="ProductSaleDto_sql"/>
        WHERE id = #{id}
    </select>
</mapper>
