<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lframework.xingyun.sc.biz.mappers.PurchaseReturnMapper">

    <resultMap id="PurchaseReturn" type="com.lframework.xingyun.sc.facade.entity.PurchaseReturn">
        <id column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="sc_id" property="scId"/>
        <result column="supplier_id" property="supplierId"/>
        <result column="purchaser_id" property="purchaserId"/>
        <result column="payment_date" property="paymentDate"/>
        <result column="receive_sheet_id" property="receiveSheetId"/>
        <result column="total_num" property="totalNum"/>
        <result column="total_gift_num" property="totalGiftNum"/>
        <result column="total_amount" property="totalAmount"/>
        <result column="description" property="description"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="approve_by" property="approveBy"/>
        <result column="approve_time" property="approveTime"/>
        <result column="status" property="status"/>
        <result column="settle_status" property="settleStatus"/>
    </resultMap>

    <resultMap id="PurchaseReturnFullDto" type="com.lframework.xingyun.sc.facade.dto.purchase.returned.PurchaseReturnFullDto">
        <id column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="sc_id" property="scId"/>
        <result column="supplier_id" property="supplierId"/>
        <result column="purchaser_id" property="purchaserId"/>
        <result column="payment_date" property="paymentDate"/>
        <result column="receive_sheet_id" property="receiveSheetId"/>
        <result column="total_num" property="totalNum"/>
        <result column="total_gift_num" property="totalGiftNum"/>
        <result column="total_amount" property="totalAmount"/>
        <result column="description" property="description"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="approve_by" property="approveBy"/>
        <result column="approve_time" property="approveTime"/>
        <result column="status" property="status"/>
        <result column="refuse_reason" property="refuseReason"/>
        <result column="settle_status" property="settleStatus"/>
        <collection property="details" javaType="java.util.ArrayList"
                    ofType="com.lframework.xingyun.sc.facade.dto.purchase.returned.PurchaseReturnFullDto$ReturnDetailDto">
            <id column="detail_id" property="id"/>
            <result column="detail_product_id" property="productId"/>
            <result column="detail_return_num" property="returnNum"/>
            <result column="detail_tax_price" property="taxPrice"/>
            <result column="detail_is_gift" property="isGift"/>
            <result column="detail_tax_rate" property="taxRate"/>
            <result column="detail_description" property="description"/>
            <result column="detail_order_no" property="orderNo"/>
            <result column="detail_receive_sheet_detail_id" property="receiveSheetDetailId"/>
        </collection>
    </resultMap>

    <sql id="PurchaseReturnDto_sql">
        SELECT
            r.id,
            r.code,
            r.sc_id,
            r.supplier_id,
            r.purchaser_id,
            r.payment_date,
            r.receive_sheet_id,
            r.total_num,
            r.total_gift_num,
            r.total_amount,
            r.description,
            r.create_by,
            r.create_time,
            r.approve_by,
            r.approve_time,
            r.status,
            r.settle_status
        FROM tbl_purchase_return AS r
        LEFT JOIN tbl_receive_sheet AS s ON s.id = r.receive_sheet_id
    </sql>

    <sql id="PurchaseReturnFullDto_sql">
        SELECT
            r.id,
            r.code,
            r.sc_id,
            r.supplier_id,
            r.purchaser_id,
            r.payment_date,
            r.receive_sheet_id,
            r.total_num,
            r.total_gift_num,
            r.total_amount,
            r.description,
            r.create_by,
            r.create_time,
            r.update_by,
            r.update_time,
            r.approve_by,
            r.approve_time,
            r.status,
            r.refuse_reason,
            r.settle_status,
            d.id AS detail_id,
            d.product_id AS detail_product_id,
            d.return_num AS detail_return_num,
            d.tax_price AS detail_tax_price,
            d.is_gift AS detail_is_gift,
            d.tax_rate AS detail_tax_rate,
            d.description AS detail_description,
            d.order_no AS detail_order_no,
            d.receive_sheet_detail_id AS detail_receive_sheet_detail_id
        FROM tbl_purchase_return AS r
        LEFT JOIN tbl_purchase_return_detail AS d ON d.return_id = r.id
    </sql>

    <update id="setPartSettle">
        UPDATE tbl_purchase_return SET ori_settle_status = settle_status, settle_status = 1
        WHERE id = #{id}
        AND settle_status IN (0, 1)
        AND ori_settle_status IS NULL
    </update>

    <update id="setSettled">
        UPDATE tbl_purchase_return SET ori_settle_status = settle_status, settle_status = 3
        WHERE id = #{id}
        AND settle_status IN (0, 1)
        AND ori_settle_status IS NULL
    </update>

    <update id="rollbackSetPartSettle">
        UPDATE tbl_purchase_return SET settle_status = ori_settle_status, ori_settle_status = NULL, tx_id = NULL
        WHERE id = #{id}
        AND ori_settle_status IN (0, 1)
        AND tx_id = #{txId}
    </update>

    <update id="rollbackSetSettled">
        UPDATE tbl_purchase_return SET settle_status = ori_settle_status, ori_settle_status = NULL, tx_id = NULL
        WHERE id = #{id}
        AND ori_settle_status IN (0, 1)
        AND tx_id = #{txId}
    </update>

    <select id="query" resultMap="PurchaseReturn">
        <include refid="PurchaseReturnDto_sql"/>
        <where>
            <if test="vo != null">
                <if test="vo.code != null and vo.code != ''">
                    AND r.code = #{vo.code}
                </if>
                <if test="vo.supplierId != null and vo.supplierId != ''">
                    AND r.supplier_id = #{vo.supplierId}
                </if>
                <if test="vo.scId != null and vo.scId != ''">
                    AND r.sc_id = #{vo.scId}
                </if>
                <if test="vo.purchaserId != null and vo.purchaserId != ''">
                    AND r.purchaser_id = #{vo.purchaserId}
                </if>
                <if test="vo.status != null">
                    AND r.status = #{vo.status}
                </if>
                <if test="vo.createBy != null and vo.createBy != ''">
                    AND r.create_by = #{vo.createBy}
                </if>
                <if test="vo.approveBy != null and vo.approveBy != ''">
                    AND r.approve_by = #{vo.approveBy}
                </if>
                <if test="vo.createStartTime != null">
                    AND r.create_time >= #{vo.createStartTime}
                </if>
                <if test="vo.createEndTime != null">
                    <![CDATA[
                    AND r.create_time <= #{vo.createEndTime}
                    ]]>
                </if>
                <if test="vo.approveStartTime != null">
                    AND r.approve_time >= #{vo.approveStartTime}
                </if>
                <if test="vo.approveEndTime != null">
                    <![CDATA[
                    AND r.approve_time <= #{vo.approveEndTime}
                    ]]>
                </if>
                <if test="vo.receiveSheetCode != null and vo.receiveSheetCode != ''">
                    AND s.code = #{vo.receiveSheetCode}
                </if>
                <if test="vo.settleStatus != null">
                    AND r.settle_status = #{vo.settleStatus}
                </if>
            </if>
        </where>
        ORDER BY r.create_time DESC
    </select>
    <select id="getDetail" resultMap="PurchaseReturnFullDto">
        <include refid="PurchaseReturnFullDto_sql"/>
        WHERE r.id = #{id}
        ORDER BY d.order_no
    </select>
    <select id="queryFulls" resultMap="PurchaseReturnFullDto">
        <include refid="PurchaseReturnFullDto_sql"/>
        LEFT JOIN tbl_receive_sheet AS s ON s.id = r.receive_sheet_id
        <where>
            <if test="vo != null">
                <if test="vo.code != null and vo.code != ''">
                    AND r.code = #{vo.code}
                </if>
                <if test="vo.supplierId != null and vo.supplierId != ''">
                    AND r.supplier_id = #{vo.supplierId}
                </if>
                <if test="vo.scId != null and vo.scId != ''">
                    AND r.sc_id = #{vo.scId}
                </if>
                <if test="vo.purchaserId != null and vo.purchaserId != ''">
                    AND r.purchaser_id = #{vo.purchaserId}
                </if>
                <if test="vo.status != null">
                    AND r.status = #{vo.status}
                </if>
                <if test="vo.createBy != null and vo.createBy != ''">
                    AND r.create_by = #{vo.createBy}
                </if>
                <if test="vo.approveBy != null and vo.approveBy != ''">
                    AND r.approve_by = #{vo.approveBy}
                </if>
                <if test="vo.createStartTime != null">
                    AND r.create_time >= #{vo.createStartTime}
                </if>
                <if test="vo.createEndTime != null">
                    <![CDATA[
                    AND r.create_time <= #{vo.createEndTime}
                    ]]>
                </if>
                <if test="vo.approveStartTime != null">
                    AND r.approve_time >= #{vo.approveStartTime}
                </if>
                <if test="vo.approveEndTime != null">
                    <![CDATA[
                    AND r.approve_time <= #{vo.approveEndTime}
                    ]]>
                </if>
                <if test="vo.receiveSheetCode != null and vo.receiveSheetCode != ''">
                    AND s.code = #{vo.receiveSheetCode}
                </if>
                <if test="vo.settleStatus != null">
                    AND r.settle_status = #{vo.settleStatus}
                </if>
            </if>
        </where>
        ORDER BY r.create_time DESC, d.order_no
    </select>
    <select id="getApprovedList" resultMap="PurchaseReturn">
        <include refid="PurchaseReturnDto_sql"/>
        WHERE r.supplier_id = #{supplierId}
        <if test="startTime != null">
            AND r.approve_time >= #{startTime}
        </if>
        <if test="endTime != null">
            <![CDATA[
            AND r.approve_time <= #{endTime}
            ]]>
        </if>
        AND r.status = 3
        AND r.settle_status = #{settleStatus}
        AND r.tx_id IS NULL
        ORDER BY r.approve_time DESC
    </select>
</mapper>
