<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lframework.xingyun.sc.mappers.PreTakeStockSheetMapper">

    <resultMap id="PreTakeStockSheetDto" type="com.lframework.xingyun.sc.dto.stock.take.pre.PreTakeStockSheetDto">
        <id column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="sc_id" property="scId"/>
        <result column="take_status" property="takeStatus"/>
        <result column="description" property="description"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <resultMap id="PreTakeStockSheetFullDto" type="com.lframework.xingyun.sc.dto.stock.take.pre.PreTakeStockSheetFullDto">
        <id column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="sc_id" property="scId"/>
        <result column="take_status" property="takeStatus"/>
        <result column="description" property="description"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <collection property="details" ofType="com.lframework.xingyun.sc.dto.stock.take.pre.PreTakeStockSheetFullDto$SheetDetailDto" javaType="java.util.ArrayList">
            <id column="detail_id" property="id"/>
            <result column="detail_product_id" property="productId"/>
            <result column="detail_first_num" property="firstNum"/>
            <result column="detail_second_num" property="secondNum"/>
            <result column="detail_rand_num" property="randNum"/>
        </collection>
    </resultMap>

    <resultMap id="PreTakeStockSheetSelectorDto" type="com.lframework.xingyun.sc.dto.stock.take.pre.PreTakeStockSheetSelectorDto">
        <id column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="sc_id" property="scId"/>
        <result column="take_status" property="takeStatus"/>
        <result column="description" property="description"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <resultMap id="QueryPreTakeStockSheetProductDto" type="com.lframework.xingyun.sc.dto.stock.take.pre.QueryPreTakeStockSheetProductDto">
        <result column="product_id" property="productId"/>
        <result column="first_num" property="firstNum"/>
        <result column="second_num" property="secondNum"/>
        <result column="rand_num" property="randNum"/>
        <result column="take_status" property="takeStatus"/>
    </resultMap>

    <sql id="PreTakeStockSheetDto_sql">
        SELECT
            tb.id,
            tb.code,
            tb.sc_id,
            tb.take_status,
            tb.description,
            tb.create_by,
            tb.create_time,
            tb.update_by,
            tb.update_time
        FROM tbl_pre_take_stock_sheet AS tb
    </sql>

    <sql id="PreTakeStockSheetFullDto_sql">
        SELECT
            tb.id,
            tb.code,
            tb.sc_id,
            tb.take_status,
            tb.description,
            tb.update_by,
            tb.update_time,
            d.id AS detail_id,
            d.product_id AS detail_product_id,
            d.first_num AS detail_first_num,
            d.second_num AS detail_second_num,
            d.rand_num AS detail_rand_num
        FROM tbl_pre_take_stock_sheet AS tb
        LEFT JOIN tbl_pre_take_stock_sheet_detail AS d ON d.sheet_id = tb.id
    </sql>

    <sql id="PreTakeStockSheetSelectorDto_sql">
        SELECT
            tb.id,
            tb.code,
            tb.sc_id,
            tb.take_status,
            tb.description,
            tb.create_by,
            tb.create_time,
            tb.update_by,
            tb.update_time
        FROM tbl_pre_take_stock_sheet AS tb
    </sql>

    <sql id="QueryPreTakeStockSheetProductDto_sql">
        SELECT
            tb.product_id,
            tb.first_num,
            tb.second_num,
            tb.rand_num,
            sh.take_status
        FROM tbl_pre_take_stock_sheet_detail AS tb
        LEFT JOIN tbl_pre_take_stock_sheet AS sh ON sh.id = tb.sheet_id
    </sql>

    <select id="query" resultMap="PreTakeStockSheetDto">
        <include refid="PreTakeStockSheetDto_sql"/>
        <where>
            <if test="vo.code != null and vo.code != ''">
                AND tb.code = #{vo.code}
            </if>
            <if test="vo.scId != null and vo.scId != ''">
                AND tb.sc_id = #{vo.scId}
            </if>
            <if test="vo.takeStatus != null">
                AND tb.take_status = #{vo.takeStatus}
            </if>
            <if test="vo.updateBy != null and vo.updateBy != ''">
                AND tb.update_by = #{vo.updateBy}
            </if>
            <if test="vo.updateTimeStart != null">
                AND tb.update_time >= #{vo.updateTimeStart}
            </if>
            <if test="vo.updateTimeEnd != null">
                <![CDATA[
                AND tb.update_time <= #{vo.updateTimeEnd}
                ]]>
            </if>
        </where>
        ORDER BY tb.update_time DESC
    </select>

    <select id="getById" resultMap="PreTakeStockSheetDto">
        <include refid="PreTakeStockSheetDto_sql"/>
        <where>
            AND tb.id = #{id}
        </where>
    </select>
    <select id="getDetail" resultMap="PreTakeStockSheetFullDto">
        <include refid="PreTakeStockSheetFullDto_sql"/>
        WHERE tb.id = #{id}
        ORDER BY d.order_no
    </select>
    <select id="selector" resultMap="PreTakeStockSheetSelectorDto">
        <include refid="PreTakeStockSheetSelectorDto_sql"/>
        <where>
            <if test="vo.code != null and vo.code != ''">
                AND tb.code = #{vo.code}
            </if>
            <if test="vo.scId != null and vo.scId != ''">
                AND tb.sc_id = #{vo.scId}
            </if>
            <if test="vo.takeStatus != null">
                AND tb.take_status = #{vo.takeStatus}
            </if>
            <if test="vo.updateTimeStart != null">
                AND tb.update_time >= #{vo.updateTimeStart}
            </if>
            <if test="vo.updateTimeEnd != null">
                <![CDATA[
                AND tb.update_time <= #{vo.updateTimeEnd}
                ]]>
            </if>
        </where>
        ORDER BY tb.update_time DESC
    </select>
    <select id="getProducts" resultMap="QueryPreTakeStockSheetProductDto">
        <include refid="QueryPreTakeStockSheetProductDto_sql"/>
        WHERE tb.sheet_id = #{id}
        <if test="planId != null and planId != ''">
            AND tb.product_id IN (SELECT product_id FROM tbl_take_stock_plan_detail WHERE plan_id = #{planId})
        </if>
        ORDER BY tb.order_no
    </select>
</mapper>
