<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lframework.xingyun.export.mappers.ExportTaskMapper">
  <select id="getSummaryByUserId"
          resultType="com.lframework.xingyun.export.dto.ExportTaskSummaryDto">
    select
      sum(case when status = 2 then 1 else 0 end) as successCount,
      sum(case when status = 3 then 1 else 0 end) as failCount,
      sum(case when status = 0 or status = 1 then 1 else 0 end) as unFinishedCount
    from tbl_export_task
    where create_by_id = #{userId}
  </select>
</mapper>
