<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lframework.xingyun.template.inner.mappers.system.SysNotifyGroupMapper">
    <sql id="SysNotifyGroup_sql">
        SELECT
            tb.*
        FROM sys_notify_group AS tb
    </sql>

    <select id="query" resultType="com.lframework.xingyun.template.inner.entity.SysNotifyGroup">
        <include refid="SysNotifyGroup_sql"/>
        <where>
            <if test="vo.name != null and vo.name != ''">
             AND tb.name LIKE CONCAT('%', #{vo.name}, '%')
            </if>
            <if test="vo.createTimeStart != null">
            AND tb.create_time >= #{vo.createTimeStart}
            </if>
            <if test="vo.createTimeEnd != null">
            <![CDATA[
            AND tb.create_time <= #{vo.createTimeEnd}
            ]]>
            </if>
            <if test="vo.available != null">
            AND tb.available = #{vo.available}
            </if>
        </where>
        ORDER BY tb.create_time DESC
    </select>
  <select id="selector"
          resultType="com.lframework.xingyun.template.inner.entity.SysNotifyGroup">
      <include refid="SysNotifyGroup_sql"/>
      <where>
          <if test="vo.name != null and vo.name != ''">
              AND tb.name LIKE CONCAT('%', #{vo.name}, '%')
          </if>
          <if test="vo.available != null">
              AND tb.available = #{vo.available}
          </if>
      </where>
      ORDER BY tb.create_time DESC
  </select>
</mapper>
