<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lframework.xingyun.template.inner.mappers.system.SysSiteMessageMapper">

  <sql id="SysSiteMessage_sql">
    SELECT
      tb.*
    FROM sys_site_message tb
  </sql>

  <select id="query"
          resultType="com.lframework.xingyun.template.inner.entity.SysSiteMessage">
    <include refid="SysSiteMessage_sql"/>
    <where>
      <if test="vo.title != null and vo.title != ''">
        AND tb.title LIKE CONCAT('%', #{vo.title}, '%')
      </if>
      <if test="vo.createTimeStart != null">
        AND tb.create_time >= #{vo.createTimeStart}
      </if>
      <if test="vo.createTimeEnd != null">
        <![CDATA[
            AND tb.create_time <= #{vo.createTimeEnd}
            ]]>
      </if>
      <if test="vo.readed != null">
        AND tb.readed = #{vo.readed}
      </if>
    </where>
    ORDER BY tb.create_time DESC
  </select>
  <select id="queryByUser"
          resultType="com.lframework.xingyun.template.inner.entity.SysSiteMessage">
    <include refid="SysSiteMessage_sql"/>
    <where>
      <if test="vo.userId != null and vo.userId != ''">
        AND tb.receiver_id = #{vo.userId}
      </if>
      <if test="vo.title != null and vo.title != ''">
        AND tb.title LIKE CONCAT('%', #{vo.title}, '%')
      </if>
      <if test="vo.createTimeStart != null">
        AND tb.create_time >= #{vo.createTimeStart}
      </if>
      <if test="vo.createTimeEnd != null">
        <![CDATA[
            AND tb.create_time <= #{vo.createTimeEnd}
            ]]>
      </if>
      <if test="vo.readed != null">
        AND tb.readed = #{vo.readed}
      </if>
    </where>
    ORDER BY tb.create_time DESC
  </select>
</mapper>
