<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lframework.xingyun.crm.mappers.CrmMemberMapper">

  <update id="addExp">
    UPDATE crm_member SET exp = exp + #{exp} WHERE id = #{memberId}
  </update>
  <update id="subExp">
    UPDATE crm_member SET exp = IF(exp >= #{exp}, exp - #{exp}, 0) WHERE id = #{memberId}
  </update>
</mapper>
