<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lframework.xingyun.sc.mappers.StockCostAdjustSheetMapper">

    <resultMap id="StockCostAdjustSheetDto" type="com.lframework.xingyun.sc.dto.stock.adjust.StockCostAdjustSheetDto">
        <id column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="sc_id" property="scId"/>
        <result column="product_num" property="productNum"/>
        <result column="diff_amount" property="diffAmount"/>
        <result column="status" property="status"/>
        <result column="description" property="description"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="approve_by" property="approveBy"/>
        <result column="approve_time" property="approveTime"/>
        <result column="refuse_reason" property="refuseReason"/>
    </resultMap>

    <resultMap id="StockCostAdjustSheetFullDto" type="com.lframework.xingyun.sc.dto.stock.adjust.StockCostAdjustSheetFullDto">
        <id column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="sc_id" property="scId"/>
        <result column="product_num" property="productNum"/>
        <result column="diff_amount" property="diffAmount"/>
        <result column="status" property="status"/>
        <result column="description" property="description"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="approve_by" property="approveBy"/>
        <result column="approve_time" property="approveTime"/>
        <result column="refuse_reason" property="refuseReason"/>
        <collection property="details" ofType="com.lframework.xingyun.sc.dto.stock.adjust.StockCostAdjustSheetFullDto$DetailDto" javaType="java.util.ArrayList">
            <id column="detail_id" property="id" />
            <result column="detail_product_id" property="productId" />
            <result column="detail_purchase_price" property="purchasePrice" />
            <result column="detail_stock_num" property="stockNum" />
            <result column="detail_ori_price" property="oriPrice" />
            <result column="detail_price" property="price" />
            <result column="detail_diff_amount" property="diffAmount" />
            <result column="detail_description" property="description" />
        </collection>
    </resultMap>

    <sql id="StockCostAdjustSheetDto_sql">
        SELECT
            tb.id,
            tb.code,
            tb.sc_id,
            tb.product_num,
            tb.diff_amount,
            tb.status,
            tb.description,
            tb.create_by,
            tb.create_time,
            tb.update_by,
            tb.update_time,
            tb.approve_by,
            tb.approve_time,
            tb.refuse_reason
        FROM tbl_stock_cost_adjust_sheet AS tb
    </sql>

    <sql id="StockCostAdjustSheetFullDto_sql">
        SELECT
            tb.id,
            tb.code,
            tb.sc_id,
            tb.product_num,
            tb.diff_amount,
            tb.status,
            tb.description,
            tb.create_by,
            tb.create_time,
            tb.update_by,
            tb.update_time,
            tb.approve_by,
            tb.approve_time,
            tb.refuse_reason,
            d.id AS detail_id,
            d.product_id AS detail_product_id,
            d.purchase_price AS detail_purchase_price,
            d.stock_num AS detail_stock_num,
            d.ori_price AS detail_ori_price,
            d.price AS detail_price,
            d.diff_amount AS detail_diff_amount,
            d.description AS detail_description
        FROM tbl_stock_cost_adjust_sheet AS tb
        LEFT JOIN tbl_stock_cost_adjust_sheet_detail AS d ON d.sheet_id = tb.id
    </sql>

    <select id="query" resultMap="StockCostAdjustSheetDto">
        <include refid="StockCostAdjustSheetDto_sql"/>
        <where>
            <if test="vo.code != null and vo.code != ''">
                AND tb.code = #{vo.code}
            </if>
            <if test="vo.scId != null and vo.scId != ''">
                AND tb.sc_id = #{vo.scId}
            </if>
            <if test="vo.status != null">
                AND tb.status = #{vo.status}
            </if>
            <if test="vo.updateBy != null and vo.updateBy != ''">
                AND tb.update_by = #{vo.updateBy}
            </if>
            <if test="vo.updateTimeStart != null">
                AND tb.update_time >= #{vo.updateTimeStart}
            </if>
            <if test="vo.updateTimeEnd != null">
                <![CDATA[
            AND tb.update_time <= #{vo.updateTimeEnd}
            ]]>
            </if>
            <if test="vo.approveBy != null and vo.approveBy != ''">
                AND tb.approve_by = #{vo.approveBy}
            </if>
            <if test="vo.approveTimeStart != null">
                AND tb.approve_time >= #{vo.approveTimeStart}
            </if>
            <if test="vo.approveTimeEnd != null">
                <![CDATA[
            AND tb.approve_time <= #{vo.approveTimeEnd}
            ]]>
            </if>
        </where>
        ORDER BY tb.update_time DESC
    </select>

    <select id="getById" resultMap="StockCostAdjustSheetDto">
        <include refid="StockCostAdjustSheetDto_sql"/>
        <where>
            AND tb.id = #{id}
        </where>
    </select>
    <select id="getDetail" resultMap="StockCostAdjustSheetFullDto">
        <include refid="StockCostAdjustSheetFullDto_sql"/>
        WHERE tb.id = #{id}
        ORDER BY d.order_no
    </select>
</mapper>
